.message {
    margin: 15px 0;
    // background: rgb(211, 233, 236);
}  

.message-list {
    // box-sizing: border-box;
    padding: 10px;
    margin: 0;
    // width: 100%;
    // max-width: 600px;
    // height: 100%;
    // max-width: 600px;
    // overflow: scroll;
    border-radius: 10px;
    list-style-type: none;
    background: white;
    margin: 20px auto;
    max-width: 600px;
}

 
.message div:nth-child(1) {
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}

.message div:nth-child(2) {
    background: #eaeff7;
    color: var(--secondary-color);
    display: inline;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: $m-size;
}



