.send-message-form{
    margin: 20px auto;
    max-width: 600px;
}
.send-message-form input {
    width: 100%;
    // padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
    margin: 0;
    background:  #F5F5F5;
    font-weight: 200;
    border: 1px solid black;

}


.send-message-form input:focus {
    outline-width: 0;
    
}

.send-message-form input::placeholder {
    color: black;
}



